@font-face {
  font-family: "Li Ador Noir7rit A-V1";
  src: url("/fonts/Ador\ Noirrit\ Web.otf") format("otf"),
    url("/fonts/Ador\ Noirrit\ Web.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

.font-liador {
  font-family: "Li Ador Noirrit A-V1", sans-serif;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  position: relative;
  margin: 0 auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
