@font-face {
  font-family: "Li Ador Noirrit A-V1";
  src: url("/fonts/Ador\ Noirrit\ Web.otf") format("otf"),
    url("/fonts/Ador\ Noirrit\ Web.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

.font-liador {
  font-family: "Li Ador Noirrit A-V1", sans-serif;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
